# Arquivos de Sistema e Python
__pycache__/
*.pyc
.DS_Store
.github

# Ambientes Virtuais
venv/
.venv/
env/

# ARQUIVOS SECRETOS 
cred.json
.streamlit

# Arquivos locais
.dockerignore
docker-compose.yml
Dockerfile
.gitignore
fly.toml

# Dados Locais 
*.csv